<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="form-group" action="/compose" method="post">
  <label for="blogHeader">Title</label>
  <input type="text" name="postTitle" class="form-control">
  <label for="post">Post</label>
  <textarea class="form-control" name = "postBody" rows="5"></textarea><br>
  <button type="submit" class="btn btn-primary">Publish</button>
  </div>

</form>
<%- include("partials/footer") -%>
